<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.dugumashen.mapper.user.BaseinfoMapper">
  <resultMap id="BaseResultMap" type="com.cc.dugumashen.model.user.Baseinfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id,NAME,gender,age,birthday,createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from baseinfo
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from baseinfo
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cc.dugumashen.model.user.Baseinfo">
    insert into baseinfo (id, name, gender,
      age, birthday, createTime
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR},
      #{age,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cc.dugumashen.model.user.Baseinfo">
    update baseinfo
    set name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectAllUserBaseInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from baseinfo
  </select>
</mapper>